<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="RP-G-MAP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name="com.rpgmap.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.rpgmap.PreGenerateMap"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.AniadirEnemigo"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.AniadirSala"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.AniadirObjeto"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.AniadirMueble"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.rpgmap.ContenidoSalas"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.rpgmap.ContenidoEnemigos"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.rpgmap.ContenidoObjetos"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.rpgmap.ContenidoMuebles"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.Info"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.rpgmap.GeneratedActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
